





<div class="container">

    <table class="table table-bordered">
        <thead>
          <tr>
        <th>id</th>
        <th>titre de l'operation</th>
        <th>entreprise</th>
        <th>annee de livraison</th>
        <th>ville</th>
        <th>mandataire</th>
        <th>ppi</th>
        <th>lycee</th>
        <th>notification du marche</th>
        <th>codeuai</th>
        <th>longitude</th>
        <th>etat d'avancement</th>
        <th>montant des ap votes en meu</th>
        <th>cao ttribution</th>
        <th>latitude</th>
        <th>maitrise d'oeuvre</th>
        <th>mode_de_devolution</th>
        <th>anneé d'individualisation</th>
        <th>enveloppe prev en meu</th>
        <th>nombre de lots</th>
    
    
    
            
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td><a>{{itemInv?.id}}</a></td>
            <td>{{itemInv?.titreoperation}}</td>
            <td>{{itemInv?.entreprise}}</td>
            <td>{{itemInv?.annee_de_livraison}}</td>
            <td>{{itemInv?.ville}}</td>
            <td>{{itemInv?.mandataire}}</td>
            <td>{{itemInv?.ppi}}</td>
            <td>{{itemInv?.lycee}}</td>
            <td>{{itemInv?.notification_du_marche}}</td>
            <td>{{itemInv?.codeuai}}</td>
            <td>{{itemInv?.longitude}}</td>
            <td>{{itemInv?.etat_d_avancement}}</td>
            <td>{{itemInv?.montant_des_ap_votes_en_meu}}</td>
            <td>{{itemInv?.cao_attribution}}</td>
            <td>{{itemInv?.latitude}}</td>
            <td>{{itemInv?.maitrise_d_oeuvre}}</td>
            <td>{{itemInv?.mode_de_devolution}}</td>
            <td>{{itemInv?.annee_d_individualisation}}</td>
            <td>{{itemInv?.enveloppe_prev_en_meu}}</td>
            <td>{{itemInv?.nombre_de_lots}}</td>
    
            
          </tr>
          
          
        </tbody>
      </table>
    </div>
    
