

<div class="container">

    <table class="table table-bordered">
        <thead>
          <tr>
        <th>id</th>
        <th>titre de l'operation</th>
        <th>entreprise</th>
        <th>annee de livraison</th>
        <th>ville</th>
        <th>mandataire</th>
        <th>ppi</th>
        <th>lycee</th>
        <th>notification du marche</th>
        <th>codeuai</th>
        <th>longitude</th>
        <th>etat d'avancement</th>
        <th>montant des ap votes en meu</th>
        <th>cao ttribution</th>
        <th>latitude</th>
        <th>maitrise d'oeuvre</th>
        <th>mode_de_devolution</th>
        <th>anneé d'individualisation</th>
        <th>enveloppe prev en meu</th>
        <th>nombre de lots</th>
    
    
    
            
          </tr>
        </thead>
        <tbody>
          <tr>
    
            <td><a>{{itemInv?.data.id}}</a></td>
            <td>{{itemInv?.data.titreoperation}} hello</td>
            <td>{{itemInv?.data.entreprise}}</td>
            <td>{{itemInv?.data.annee_de_livraison}}</td>
            <td>{{itemInv?.data.ville}}</td>
            <td>{{itemInv?.data.mandataire}}</td>
            <td>{{itemInv?.data.ppi}}</td>
            <td>{{itemInv?.data.lycee}}</td>
            <td>{{itemInv?.data.notification_du_marche}}</td>
            <td>{{itemInv?.data.codeuai}}</td>
            <td>{{itemInv?.data.longitude}}</td>
            <td>{{itemInv?.data.etat_d_avancement}}</td>
            <td>{{itemInv?.data.montant_des_ap_votes_en_meu}}</td>
            <td>{{itemInv?.data.cao_attribution}}</td>
            <td>{{itemInv?.data.latitude}}</td>
            <td>{{itemInv?.data.maitrise_d_oeuvre}}</td>
            <td>{{itemInv?.data.mode_de_devolution}}</td>
            <td>{{itemInv?.data.annee_d_individualisation}}</td>
            <td>{{itemInv?.data.enveloppe_prev_en_meu}}</td>
            <td>{{itemInv?.data.nombre_de_lots}}</td>
    
            
          </tr>
          
          
        </tbody>
      </table>
    </div>
    
